.git-crypt/*
guionbot-gitcrypt-key.txt
config.py
test_*.py
SCRIPTS/mysql_backup.sh
IMAGES/CHARACTERS/*
IMAGES/GUILD_LOGOS/*
DATA/*
DATA
PLAYERS/*
PLAYERS
PLAYERS_RPC/*
PLAYERS_RPC
GUILDS/*
GUILDS
EVENTS/*
EVENTS
CACHE/*
CACHE
SCRIPTS/__pycache__/*
__pycache__/*
